#
# psmqtt SystemD service definition
# See [docs/service.md] for more information.
#

[Unit]
Description=psmqtt daemon for publishing system metrics to an MQTT broker
After=multi-user.target

[Service]
WorkingDirectory=/tmp
User=nobody
Type=idle
# ExecStart should be pointing at your actual psmqtt installation path, which you can check running "which psmqtt"
ExecStart=/usr/local/bin/psmqtt
Restart=always

[Install]
WantedBy=multi-user.target
