#
# psmqtt SystemD service definition
# See [docs/service.md] for more information.
#

[Unit]
Description=Resource daemon to MQTT
After=multi-user.target

[Service]
WorkingDirectory=/tmp
User=nobody
Type=idle
ExecStart=/usr/local/bin/psmqtt
Restart=always

[Install]
WantedBy=multi-user.target
